spring.application.name=Url-shortner
logging.level.org.springframework.web=DEBUG
app.base.url=${APP_BASE_URL:http:YOUR_URL_HERE}
spring.data.mongodb.uri=mongodb+srv://username:<YOUR_PASSWORD_HERE>@cluster.mongodb.net/